requests==2.31.0
structlog==24.1.0
google-auth==2.3.2
tiktoken
tavily-python
langchain_openai
langchain-community
langchainhub
python 
openai 
fastapi
pydantic 
langchain
uvicorn
tiktoken 
tavily-python 
langserve 
sse-starlette 
google-api-python-client 
html2text
anthropic 
kay 
google-cloud-aiplatform 
black 
isort 
