requests
structlog
google-auth
tiktoken
tavily-python
openai 
gunicorn
fastapi
pydantic 
langchain
langchain-community
langchain-core
langchain-openai
uvicorn
tiktoken 
langserve 
sse-starlette 
google-api-python-client 
html2text
anthropic 
kay 
google-cloud-aiplatform 
black 
isort 
cohere
