requests==2.31.0
structlog==24.1.0
google-auth==2.3.2
tiktoken
tavily-python
langchain_openai
langchain-community
langchainhub
python 
openai 
fastapi
pydantic 
langchain
uvicorn
tiktoken 
tavily-python 
langserve 
sse-starlette 
google-api-python-client 
html2text
anthropic = "^0.4.1"
kay = "^0.1.2"
google-cloud-aiplatform = "^1.35.0"
black = "^23.9.1"
isort = "^5.12.0"
